@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button{
    display:inline-block; 
    border-radius: 90px;
    background-color:#F9FAFB; 
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    
}
.button:hover{
    transition: 150ms ease-in-out;
    background-color:#F9FAFB;
    box-shadow: 0 8px 9px -9px #848D9C, 0 4px 18px -9px #848D9C;  
}
.button:active {
    background-color:#e0e0e0;
}